@model IEnumerable<ArtilhariaViewModel>

<table class="table table-striped table-bordered" id="dtArtilharia" style="width:100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                Jogador
            </th>
            <th style="width:150px; text-align-last:center;">
                Categoria
            </th>
            <th style="width:150px; text-align-last:center;">
                Gols
            </th>
            <th style="width:150px; text-align-last:center;">
                Assistência
            </th>
            <th style="width:150px; text-align-last:center;">
                Ano
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ToList())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Jogador.Nome)
                </td>
                <td style="width:150px; text-align-last:center;">
                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
                </td>
                <td style="width:150px; text-align-last:center;">
                    @Html.DisplayFor(modelItem => item.NumeroGols)
                </td>
                <td style="width:150px; text-align-last:center;">
                    @Html.DisplayFor(modelItem => item.NumeroAssistencia)
                </td>
                <td style="width:150px; text-align-last:center;">
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#cb-jogador').select2();
        $('#cb-categoria').select2();
        $('#cb-ano').select2();

        $('#dtArtilharia').DataTable({
            searching: true,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json",
                "infoEmpty": "No entries to show",
                "sInfo": "Mostrando de _START_ ate _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
            }
        });
    });
</script>
