@model IEnumerable<ArtilhariaViewModel>

@{
    ViewData["Title"] = "Artilharia";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Artilharia</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item">Consultas</li>
                    <li class="breadcrumb-item active">Artilharia</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Div de Filtros -->
        <div class="card card-default">
            <form id="formPrincipal" action="/Revisao/Pesquisar" method="post">
                <div class="card-header">
                    <h3 class="card-title">Filtros</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Jogador</label>
                                @Html.DropDownList("cb-jogador", (SelectList)ViewBag.Jogador, "Selecione", new { @class = "form-control" })
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Categoria</label>
                                    @Html.DropDownList("cb-categoria", (SelectList)ViewBag.Categoria, "Selecione", new { @class = "form-control" })
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <div class="col-md-2">&nbsp;</div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Ano</label>
                                @Html.DropDownList("cb-ano", (SelectList)ViewBag.Years, "Selecione", new { @class = "form-control" })
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="row pull-right">
                        <div>
                            <label>&nbsp;</label>
                            <div class="btn-pesquisar">
                                <button type="button" class="btn btn-primary fonteBtn" id="btnPesquisar" onclick="FiltrarConteudo()">Pesquisar</button>
                            </div>
                        </div>
                        <div>&nbsp;</div>
                        <div>
                            <label>&nbsp;</label>
                            <div class="btn-pesquisar">
                                <button type="button" class="btn btn-warning btn-secund fonteBtn" id="btnLimparCampos">Limpar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-fw fa-bars"></i>
                Lista
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <partial name="_Lista" model="@Model" />
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/Views/artilharia.js?timestamp=@DateTime.Now.Ticks.ToString()" asp-append-version="true"></script>
}